@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 44% 93%;
    --foreground: 262 15% 15%;
    --card: 0 0% 100%;
    --card-foreground: 262 15% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 262 15% 15%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 285 40% 88%;
    --secondary-foreground: 262 15% 15%;
    --muted: 285 20% 70%;
    --muted-foreground: 285 10% 45%;
    --accent: 231 48% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 20% 80%;
    --input: 285 20% 85%;
    --ring: 262 52% 50%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 262 15% 10%;
    --foreground: 285 20% 95%;
    --card: 262 15% 12%;
    --card-foreground: 285 20% 95%;
    --popover: 262 15% 10%;
    --popover-foreground: 285 20% 95%;
    --primary: 262 62% 60%;
    --primary-foreground: 262 15% 15%;
    --secondary: 262 15% 20%;
    --secondary-foreground: 285 20% 95%;
    --muted: 262 15% 25%;
    --muted-foreground: 285 10% 65%;
    --accent: 231 58% 68%;
    --accent-foreground: 231 15% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 15% 20%;
    --input: 262 15% 22%;
    --ring: 262 62% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
